<form class="form exercise-form">
    <input id="newType" placeholder="type" />
    <input id="newDuration" placeholder="duration" />
    <input id="newDescription" placeholder="description" />
</form>
<button id="exercise-submit" type="button">Create Exercise</button>