<form class="form newFoodForm">
    <div>
        <label for="inputfName" class="form-label"></label>
        <input class="input-box" id="newFoodName" placeholder="name"/>
    </div>
    <div>
        <label for="inputfName" class="form-label">Calories</label>
        <input class="input-box" id="newFoodCalories" placeholder="calories" />
    </div>
    <div>
        <label for="inputfName" class="form-label">Protein</label>
        <input class="input-box" id="newFoodProtein" placeholder="protein" />
    </div>
    <div>
        <label for="inputfName" class="form-label">Carbs</label>
        <input class="input-box" id="newFoodCarbs" placeholder="carbs" />
    </div>
    <div>
        <label for="inputfName" class="form-label">Serving Size</label>
        <input class="input-box" id="newFoodServing" placeholder="serving size" />
    </div>
</form>    

<button class="btnN" id="newFoodBtn">Add New Food</button>
<button class="btnN" id="newFoodSubmit" type="button">Submit</button>