<form class="form newFoodForm">
    <input id="newFoodName" placeholder="name"/>
    <input id="newFoodCalories" placeholder="calories" />
    <input id="newFoodProtein" placeholder="protein" />
    <input id="newFoodCarbs" placeholder="carbs" />
    <input id="newFoodServing" placeholder="serving size" />
</form>    
<button id="newFoodSubmit" type="button">Submit</button>