<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Tracker</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <nav>
       <a href="/homepage">
      <button class="btn" id="homepage-btn">homepage</button>
      </a>
     
    </nav>
    <h1>
      Fitness Tracker App
    </h1>
    {{!-- {{#if logged_in}}
    <nav>
      <a href="/">
      <button class="btn" id="logout">logout</button>
      </a>
    {{else}}
      <a href="/login">
      <button class="btn" id="login">login</button>
      </a>
    </nav>
    {{/if}} --}}
 
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}   
  </main>
  <footer>
      
  </footer>
{{!-- 
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>

</html>
