<a href="/homepage">
    <button class="btn" id="home">Home</button>
</a>

<h2>Add Exercise</h2>

<form id="submit-exercise">
    <div class="form-group">
        <label for="exercise-date">Date:</label>
        <input class="form-control" id="exercise-date" placeholder="Date">
    </div>
    <div class="form-group">
        <label for="exercise-type">Exercise:</label>
        <input class="form-control" id="exercise-type" placeholder="Type of exercise">
    </div>
    <div class="form-group">
        <label for="exercise-goal">Goal - Minutes or Reps:</label>
        <input class="form-control" id="exercise-goal" placeholder="Number of Minutes or Reps">
    </div>
    <div class="form-group">
        <label for="exercise-completed">Completed - Minutes or Reps:</label>
        <input class="form-control" id="exercise-completed" placeholder="Number of Minutes or Reps">
    </div>
    <div class="form-group">
        <a href="/homepage"><button class="btn primary btn">Add</button></a>
    </div>
</form>

<script src='/js/addexercise.js'></script>