<div class="wrapper">
    <div class="page-title"><h3>Exercise</h3></div>
    <nav><a href="/nutrition"><button class="btn" id="nutrition">go to nutrition</button></a>
    <a href="/planner"><button class="btn" id="planner">go to planner</button></button></a>
    </nav>
    <form class="form exercise-form">
        <input id="exercise-input" type="text" placeholder="Enter an exercise"/>
        <button type="submit" id="search-button">Search</button>
    </form>
    <div class="data-container" id="exercise-output">
        
    </div>
</div>
<script src="/js/exercise.js"></script>