<a href="/api/nutrition">
    <button class="btnH" id="home">Nutrition</button>
</a>
<a href="/api/planner">
    <button class="btnH" id="home">Planner</button>
</a>

<div class="card" style="width: 18rem;">
  <img src="./img/squat.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Daily Motivation</h5>
    <p class="card-text">“Go the extra mile. It’s never crowded.” -Wayne Dyer</p>
  </div>
</div>