<nav class='nav'>
  <button class='btn'><a
      class='nav-link'
      href='/nutrition-homepage'
    >Nutrition</a></button>
  <button class='btn'><a
      class='nav-link'
      href='/exercise-homepage'
    >Exercise</a></button>
  <button class='btn'><a
      class='nav-link'
      href='/login'
      id='logout'
      type='submit'
    >Log Out</a></button>
</nav>

<div class='card-homepage'>
  <img src='./img/squat.jpg' class='card-img-top' alt='...' />
  <div class='card-body'>
    <h5 class='card-title'>Daily Motivation</h5>
    <p class='card-text'>“Go the extra mile. It’s never crowded.” -Wayne Dyer</p>
  </div>
</div>
<div class="mission-statement">
  <h3>Mission Statment</h3>
  <p>FitLyfe was created to help people like you to better understand your daily routines.
    This is done by giving you an easy space to quickly keep note of your day to day health and wellness goals,
    as well as give you encouragement along the way.  We hope to give you the tools to achieve your goals. 
  </p>
  <div class="fitlyfeteam"><p>~FitLyfe Team 2023~</p></div>  
</div>

<script src='/js/logout.js' type='text/javascript'></script>