<div class="container-lg">
  <h1>Login</h1>
  <form class='form login-form p-3'>
    <div class='form-group'>
      <label for='username-login'>Username:</label>
      <input id='username-login' class='form-input' type='text' />
    </div>
    <div class='form-group'>
      <label for='password-login'>Password:</label>
      <input class='form-input' type='password' id='password-login' />
    </div>
    <div class="col-lg-7" id="formValidation"></div>
    <div class='form-group'>
      <button class='btn' type='submit'>Login</button>
    </div>
    <div class='form-group'>
      <a href='/signup'>
        <button class='btn' type='button'>New user? Sign up</button>
      </a>
    </div>
  </form>
</div>

<script src='/js/login.js'></script>