<div><h1>Nutrition Page</h1></div>
<form class="form foodInput-form">
<div><input id='foodInput' type='text' />Search for a food item</div>
<button type="submit" id="search-button">Search</button>
</form>
<script src="/js/nutrition.js"></script>