<div class='container-lg'>
  <h1>Sign Up</h1>
  <form id='signup-form' class='form p-3'>
    <div class='form-group'>
      <label for='username-signup'>Username:</label>
      <input id='username-signup' class='form-input' type='text' />
    </div>
    <div class='form-group'>
      <label for='password-signup'>Password (8-16 characters):</label>
      <input id='password-signup' class='form-input' type='text' />
    </div>
    <div class='col-lg-7 form-group' id='formValidation'></div>
    <div class='form-group'>
      <button class='btn' type='submit'>Sign up</button>
    </div>
    <div class='form-group'>
      <a href='/login'>
        <button class='btn' type='button'>Back to login</button>
      </a>
    </div>
  </form>
</div>

<script src='/js/signup.js'></script>