<a href="/homepage">
    <button class="btn" id="all-exercise">All Exercises</button>
</a>

<h2>Update Exercise</h2>

<form>
    <div class="form-group">
        <label for="exercise-date">Update Date: {{this.date}}</label>
        <input class="form-control" id="exercise-date" placeholder="Date">
    </div>
    <div class="form-group">
        <label for="exercise-type">Update Exercise: {{this.type}}</label>
        <input class="form-control" id="exercise-type" placeholder="Type of exercise">
    </div>
    <div class="form-group">
        <label for="exercise-goal">Update Goal - {{this.goal}} Minutes or Reps </label>
        <input class="form-control" id="exercise-goal" placeholder="Number of reps or minutes">
    </div>
    <div class="form-group">
        <label for="exercise-completed">Update Completion - {{this.completed}} Minutes or Reps</label>
        <input class="form-control" id="exercise-completed" placeholder="Number of reps or minutes">
    </div>
    <div class="form-group">
        <a href="/homepage"><button class="btn primary btn" id="update-exercise">Update</button></a>
    </div>
</form>