<a href='/nutrition-homepage'>
  <button class='btn' id='home'>Back to Nutrition</button>
</a>

<h2>Update Food</h2>

<form id='submit-food'>
  <div class='form-group'>
    <label for='food-protein'>Protein (g):</label>
    <input
      class='form-control'
      id='food-protein'
      placeholder='Grams of protein'
      name='protein'
    />
  </div>
  <div class='form-group'>
    <label for='food-calories'>Calories:</label>
    <input
      class='form-control'
      id='food-calories'
      placeholder='Number of calories'
      name='calories'
    />
  </div>
  <div class='form-group'>
    <label for='food-servings'>Servings:</label>
    <input
      class='form-control'
      id='food-servings'
      placeholder='Number of servings'
      name='servings'
    />
  </div>
  <div class='form-group'>
    <button class='btn primary btn' id='updatefoodbtn'>Update</button>
  </div>
</form>

<script src='/js/updateNutrition.js'></script>