<nav class='nav'>
  <button class='btn'><a class='nav-link' href='/homepage'>Home</a></button>
  <button class='btn'><a
      class='nav-link'
      href='/exercise-homepage'
    >Exercise</a></button>
  <button class='btn'><a
      class='nav-link'
      href='/nutrition-homepage'
    >Nutrition</a></button>
</nav>

<div class='container-lg p-3'>

  <h1>Update Exercise</h1>

  <form id='update-exercise' class='p-3' method='PUT'>
    <div class='col-lg-7 p-3'>
      <label for='exercise-goal'>Goal</label>
      <input
        class='form-control'
        id='exercise-goal'
        value='{{this.goal}}'
        placeholder='Number of reps or minutes'
        name='goal'
      />
    </div>
    <div class='col-lg-7 p-3'>
      <label for='exercise-completed'>Completed</label>
      <input
        class='form-control'
        id='exercise-completed'
        value='{{this.completed}}'
        placeholder='Number of reps or minutes'
        name='completed'
      />
    </div>
    <div class='col-lg-7' id='formValidation'></div>
    <div class='col-lg-7 p-3'>
      <button class='btn primary btn' id='updateExerciseButton'>Update</button>
    </div>
  </form>
</div>

<script src='/js/updateexercise.js'></script>